/*style for header*/
.header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center;
    }

.header h1{
    font-family: 'Lobster-Two';
    font-size: 100px;
    max-width: 750px;
    max-height: 50px;
    text-align: center;
}

.header p{
    font-family: 'Lobster-Two';
    font-size: 40px;
    max-width: 750px;
    max-height: 50px;
    text-align: center;
}
/*style for navigation*/
#navigation{
    background-color: rgb(105, 91, 187);
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    max-height:100px;

}
/*style for grids*/
.content h2{
    font-family: 'Lobster-Two';
    font-size: 20px;
}
.content img{
    object-position: center;
}
