/*style for header*/
.header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-image: url(https://scontent-ort2-1.xx.fbcdn.net/v/t1.0-9/49422635_231850887726323_7988879804692692992_n.jpg?_nc_cat=111&_nc_ht=scontent-ort2-1.xx&oh=359058dd96b457139124acd5b3bc646e&oe=5CC852F0);
    background-size: cover;
    background-position: center;
    }

.header img{
    max-width: 750px;
    height: 100rem;
}
.header h1{
    display: block;
    font-family: 'Lobster-Two';
    font-size: 30px;
    max-width: 750px;
    text-align: center;
}

.header p{
    font-family: 'Lobster-Two';
    font-size: 30px;
    color: rgb(12, 4, 3);
    max-width: 750px;
    max-height: 100px;
    text-align: center;
}
/*style for navigation*/
#navigation{
    background-color: rgb(105, 91, 187);
    font-family: 'Lobster-Two';
    font-size: 15px;
    max-height:70px;

}
/*style for grids*/
.content h2{
    font-family: 'Lobster-Two';
    font-size: 20px;
    text-align: center;
}
.content img{
    width: 100%;
}
